.recipe-item {
  height: fit-content;
  width: fit-content;
}

.recipe__img-container {
  cursor: pointer;
  width: 320px;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}

.recipe__img-container img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.recipe-name__container {
  padding: 0.6rem 1rem;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.recipe-name__container p {
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}
